@import 'global';

/*col-xl*/
@media screen and (min-width: 1200px) {
		
}

/*col-lg col-xl*/
@media screen and (min-width: 992px) {
	#header {
		text-align: center;
		position: fixed;
		width: 100%;
		background: $color-black;
		padding: 10px 0;
		text-transform: uppercase;

		a {
			font-size: 20px;
			color: #fff;
			text-decoration: none;
			margin: 15px;
			&:hover {
				color: #fff;
				text-decoration: none;
				font-weight: $bold;
			}
		}
	}

	#about {
		min-height: 100vh;
		padding: 100px 0; 
		background: rgb(0,0,0);
		background: -webkit-linear-gradient(bottom left, rgba(0,0,0,1) 0%, rgba(27,65,97,1) 100%);
		background: -o-linear-gradient(bottom left, rgba(0,0,0,1) 0%, rgba(27,65,97,1) 100%);
		background: linear-gradient(to top right, rgba(0,0,0,1) 0%, rgba(27,65,97,1) 100%);
		background-attachment: fixed;
		color: $color-white;
		display: grid;
		place-items: center;
		text-align: center;
	}


	#side-projects {		
		background: #ddd;
		min-height: calc(100vh - 57px);
		padding: 100px 0; 

		h1 {
			color: #000;
		}

		.hold-out {
			background: #071C09;
			text-align: center;
			padding: 30px;
				h2 {
				color: #C8CAC7;
				font-size: 30px;
				font-weight: 600;
			}
		}
	}

	#footer {
		padding: 10px 0;
		background: #000;
		text-align: center;
		ul {
			list-style: none;
			font-size: 25px;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin: 0 15px;
				a {
					color: #fff;
					text-decoration: none;
					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				&.games {
					display: none;
				}				
			}	
		}
	}
}

/*col-lg*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
		
}

/*col-md*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

/*col-sm col-md*/
@media screen and (max-width: 991px) {
	#header {
		text-align: center;
		position: fixed;
		width: 100%;
		background: $color-black;
		padding: 10px 0;
		text-transform: uppercase;

		a {
			font-size: 20px;
			color: #fff;
			text-decoration: none;
			margin: 15px;
			&:hover {
				color: #fff;
				text-decoration: none;
				font-weight: $bold;
			}
		}
	}

	#about {
		min-height: 100vh;
		padding: 100px 0; 
		background: rgb(0,0,0);
		background: -webkit-linear-gradient(bottom left, rgba(0,0,0,1) 0%, rgba(27,65,97,1) 100%);
		background: -o-linear-gradient(bottom left, rgba(0,0,0,1) 0%, rgba(27,65,97,1) 100%);
		background: linear-gradient(to top right, rgba(0,0,0,1) 0%, rgba(27,65,97,1) 100%);
		background-attachment: fixed;
		color: $color-white;		
		display: grid;
		place-items: center;
		text-align: center;
	}


	#side-projects {		
		background: #ddd;
		min-height: calc(100vh - 57px);
		padding: 100px 0; 

		h1 {
			color: #000;
		}

		.hold-out {
			background: #071C09;
			text-align: center;
			padding: 30px;
				h2 {
				color: #C8CAC7;
				font-size: 30px;
				font-weight: 600;
			}
		}
	}

	#footer {
		padding: 10px 0;
		background: #000;
		text-align: center;
		ul {
			list-style: none;
			font-size: 25px;
			padding: 0;
			margin: 0;
			li {
				display: inline-block;
				margin: 0 15px;
				a {
					color: #fff;
					text-decoration: none;
					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}

				&.games {
					display: none;
				}				
			}	
		}
	}
}

/*col-sm*/
@media screen and (min-width: 576px) and (max-width: 767px) {
	 
}

/*col-xs*/
@media screen and (max-width: 575px) {
	
}